<center>
<h1>SIGN UP</h1><br><br>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="signup-form">

    <%= render 'users/user' %>

<div>
</center>