<center>
<h1>Edit <%=@project.title%><h1>
</center>

    <% if @project.errors.any? %>
        <div id="error_explanation">
            <ul>
            <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
            </div>
    <% end %>

    <div class="edit-project-form">


        <ul>
            
                
                 <%= render 'project' %>
                
                
        </ul><br>
        <%=button_to "Delete Project", project_path(@project), method: :delete %>
    <div>
   